## Modified 17-05-19
import("faraway")
import("nnet")
import("parallel")
export(GroupFusedMulti)
export(GFMR.cv)
export(predict.gfmR)
S3method(print,gfmR)
S3method(predict,gfmR)
S3method(print, gfmR.cv)
importFrom("stats", "sd")  
  
